@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import './variables';

* {
  font-family: 'Poppins', sans-serif;
}

.btn,
.card,
.alert,
.form-control {
  border-radius: 0 !important;
}

.btn-primary {
  background-color: $featured !important;
  border-color: $featured-dark !important;
  &:hover {
    background-color: $featured-dark !important;

  }
}
